.custom-calendar {
  border:none; 
  border-radius: 12px;
  padding: 4px;
  background-color: #ffffff;
  box-shadow: none;
  font-family: 'Inter', sans-serif;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  box-sizing: border-box;
  text-decoration: none;
  align-items: center;
  text-align: center;
}

.custom-calendar .react-calendar__tile--now{
  background-color: #8204FF !important;
  color: white !important; 
  font-weight: bold;
}

.custom-calendar .react-calendar__tile--now:hover{
  color: black !important; 
  font-weight: bold;
}

.custom-calendar .react-calendar__tile {
  padding: 12px;
  font-size: 0.95rem;
  color: #171717;
  background-color: transparent;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.custom-calendar .react-calendar__tile:hover {
  background-color: #8204FF50 !important;
  transform: scale(1.05); 
}

.custom-calendar .react-calendar__tile--rangeStart,
.custom-calendar .react-calendar__tile--rangeEnd {
  background-color: #8204FF60 !important;
  color: white;
  font-weight: bold;
}

.custom-calendar .react-calendar__tile--hover {
  background-color: #8204FF30 !important;
}

.custom-calendar .react-calendar__tile--range {
  background-color: #8204FF50 !important;
  color: #2d3748;
}

.custom-calendar .react-calendar__navigation button {
  background: none;
  color: #2d3748;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 6px;
  transition: background-color 0.2s;
}

.custom-calendar .react-calendar__navigation button:hover {
  background-color: #8204FF50 !important;
}

.custom-calendar .react-calendar__month-view__days__day--weekend {
  color: #e53e3e;
}

.custom-calendar .react-calendar__month-view__weekdays {
  text-transform: uppercase;
  color: #8204FF;
  font-weight: bold;
  font-size: 0.8rem;
  padding-bottom: 4px;
  outline: none;
}
